* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --time-color: 0.3s;
    --off-dark:#000;
    --on-light:#ffffff;

}

body {
    background-color: var(--off-dark);
    transition: var(--time-color);
}

.switchContainer {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    zoom: 200%;

}

.toggleElement {
    display: none;
}

.switchLabel {
    display: block;
    background-color: #ccc;
    width: 50px;
    height: 25px;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    /* transition: 0.1s ease; */

}

.switchLabel::after {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    background-color: var(--off-dark);
    top: 3px;
    left: 3px;
    border-radius: 100px;
    transition: background-color var(--time-color) ease, transform 0.2s ease;
}

.toggleElement:checked+.switchLabel::after {
    transform: translate(25px);
    background-color: var(--on-light);
}

.toggleElement:checked+.switchLabel {
    background-color: #b3ca89;
}

body:has(.toggleElement:checked) {
    background-color: var(--on-light);
}

.switchLabel h1 {
    font-size: 10px;
    padding: 7px;

    user-select: none;
    transition: var(--time-color);
}


.toggleElement:checked+.switchLabel h1 {
    color:  var(--on-light);
}
